<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<logger name="com.vaadin.server.communication" level="ERROR" />
	<logger name="org.springframework" level="ERROR" />
	<logger name="freemarker.cache" level="ERROR" />
	<logger name="ch.qos.logback" level="ERROR" />
	<logger name="bitronix.tm" level="ERROR" />
	<logger name="com.netflix" level="ERROR" />
	<logger name="org.apache" level="ERROR" />
	<logger name="org.apache" level="ERROR" />
	<logger name="org.jboss" level="ERROR" />
	<logger name="org.xnio" level="ERROR" />
	<logger name="/" level="ERROR" />
	<logger name="org.hibernate.SQL" level="DEBUG" />

	<property name="DEV_HOME" value="c:/poker/log" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %logger - %msg\n</pattern>
		</encoder>
	</appender>

	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/poker.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archived/poker.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<appender name="FILE-ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/error.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archived/error.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>




	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-AUDIT" />
	</root>


</configuration>